# Maintainers: @slack @lachie83 @michelleN
CODEOWNERS @slack @lachie83 @michelleN
CONTRIBUTING.md @slack @lachie83 @michelleN
LICENSE @slack @lachie83 @michelleN
GOVERNANCE.md @slack @lachie83 @michelleN
# EMERITUS Maintainers: @alban @surajssd @stefanprodan
